<style>
 
  .li_a{
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.75385px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  @media screen and (max-width: 768px) {
   .FooterRow{
      display: block!important;
    }
    .FooterRight{
      width:100%!important;
    }
    .FooterLeft{
      width:100%!important;
    }
    .FooterLinks{
       display: block!important;
       text-align: left!important;
    }
 }
  
</style>
<footer class="Footer">
  <div class="FooterRow" style="display: flex;justify-content: space-between;padding: 25px;background: #fff;border-top: 1px solid #e9e9eb;">
    <div class="FooterLeft" style="width: 70%;margin: auto;">
      <ul class="FooterLinks" style="list-style: none;
                                      margin: unset!important;
                                      padding: 0;
                                      text-align: center;
                                      display: flex;gap: 3%;">
      <li><a class="li_a" rel="noopener noreferrer" href="{{ section.settings.label1_url }}" target="_blank">{{ section.settings.label1 }}</a></li>
      <li><a class="li_a"  rel="noopener noreferrer" href="{{ section.settings.label2_url }}" target="_blank">{{ section.settings.label2 }}</a></li>
      <li><a class="li_a"  href="{{ section.settings.label3_url }}">{{ section.settings.label3 }}</a></li>
      <li><a class="li_a" href="{{ section.settings.label4_url }}">{{ section.settings.label4 }}</a></li>
      <li><a class="li_a"   class="underline" target="_blank" href="mailto:{{ section.settings.label5_url }}">{{ section.settings.label5 }}</a></li>
      </ul>
    </div>
    <div class="FooterRight" style="width: 30%;">
      <ul class="FooterSocialLinks" style="list-style: none;
        margin: 0 0 20px;
        padding: 0;
        text-align: center;
        display: flex;gap: 7%;justify-content: end;">
        <li><a rel="noopener noreferrer" href="{{ section.settings.face_url }}" target="_blank"><svg width="17" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.79 0H.722A.705.705 0 0 0 0 .722v15.17c0 .31.31.62.722.62h7.534v-5.16H6.192V8.256h2.064V6.192c0-2.167 1.238-3.096 3.096-3.096h2.064v3.096h-1.032c-.62 0-1.032.413-1.032 1.032v1.032h2.683l-.619 3.096h-2.064v5.16h4.438c.412 0 .722-.31.722-.722V.722A.705.705 0 0 0 15.79 0Z" fill="#000"></path></svg></a></li>
        <li><a rel="noopener noreferrer" href="{{ section.settings.Insta_url }}" target="_blank"> <svg width="18" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.326 5.007a.99.99 0 1 0 0-1.981.99.99 0 0 0 0 1.981Z" fill="#000"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.92 8.256a4.132 4.132 0 0 0 4.128 4.128 4.132 4.132 0 0 0 4.128-4.128 4.132 4.132 0 0 0-4.128-4.128A4.132 4.132 0 0 0 4.92 8.256Zm2.064 0c0-1.138.926-2.064 2.064-2.064s2.064.926 2.064 2.064a2.066 2.066 0 0 1-2.064 2.064 2.066 2.066 0 0 1-2.064-2.064Z" fill="#000"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.92 16.512h8.256c2.122 0 4.128-2.006 4.128-4.128V4.128C17.304 2.006 15.298 0 13.176 0H4.92C2.798 0 .792 2.006.792 4.128v8.256c0 2.122 2.006 4.128 4.128 4.128ZM2.856 4.128c0-.965 1.1-2.064 2.064-2.064h8.256c.965 0 2.064 1.099 2.064 2.064v8.256c0 .965-1.1 2.064-2.064 2.064H4.92c-.983 0-2.064-1.08-2.064-2.064V4.128Z" fill="#000"></path></svg></a></li>
        <li><a rel="noopener noreferrer" href="{{ section.settings.Twitter_url }}" target="_blank"><svg width="17" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 2.096c-.62.31-1.238.413-1.96.516.722-.413 1.238-1.032 1.444-1.858-.62.413-1.342.62-2.167.826A3.604 3.604 0 0 0 11.84.548c-1.754 0-3.302 1.548-3.302 3.405 0 .31 0 .516.103.723-2.787-.103-5.367-1.445-7.018-3.509-.31.516-.413 1.032-.413 1.754 0 1.136.62 2.168 1.548 2.787-.516 0-1.032-.207-1.548-.413 0 1.651 1.136 2.993 2.684 3.302-.31.104-.62.104-.93.104-.206 0-.412 0-.618-.104.412 1.342 1.65 2.374 3.199 2.374-1.135.929-2.58 1.445-4.231 1.445H.488c1.548.929 3.302 1.548 5.16 1.548 6.192 0 9.598-5.16 9.598-9.598v-.413c.722-.516 1.341-1.135 1.754-1.857Z" fill="#000"></path></svg></a></li>
        <li><a rel="noopener noreferrer" href="{{ section.settings.Tiktok_url }}" target="_blank"><svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5022 0.256012C10.5088 1.07873 10.769 1.87963 11.2474 2.55047C11.7258 3.22132 12.3995 3.7298 13.1775 4.00728C13.6132 4.16287 14.0731 4.24065 14.536 4.23698V6.82076C13.0795 6.82107 11.6633 6.34473 10.5054 5.46507V5.66284C10.5054 7.49701 10.5053 9.32798 10.5246 11.159C10.5478 12.0852 10.3106 12.9995 9.83981 13.7988C9.36899 14.598 8.68327 15.2504 7.85994 15.6824C7.03661 16.1144 6.10842 16.3088 5.18005 16.2437C4.25168 16.1786 3.36006 15.8566 2.60569 15.3139C1.85132 14.7713 1.26425 14.0296 0.910632 13.1725C0.557014 12.3155 0.450931 11.3771 0.604349 10.4632C0.757768 9.54936 1.16457 8.69633 1.77891 8.00033C2.39325 7.30432 3.19068 6.79301 4.08129 6.52408C4.74525 6.33069 5.44128 6.27107 6.12866 6.34867C6.17749 6.35392 6.22577 6.36352 6.27287 6.37736V8.97391C6.02364 8.93228 5.77223 8.90459 5.51989 8.89097C5.05802 8.89419 4.60736 9.03292 4.22428 9.28982C3.8412 9.54672 3.54273 9.9104 3.36617 10.3353C3.18962 10.7602 3.14283 11.2276 3.23167 11.6788C3.32051 12.1301 3.54101 12.5452 3.86563 12.8724C4.19025 13.1995 4.60454 13.4241 5.05669 13.518C5.50884 13.6119 5.97881 13.5709 6.40773 13.4003C6.83664 13.2297 7.20549 12.937 7.46816 12.5588C7.73083 12.1805 7.87563 11.7335 7.88446 11.2738C7.90369 9.91809 7.88446 8.56241 7.88446 7.20672V0.45382C7.88446 0.390023 7.88448 0.322999 7.9037 0.256012H10.5022Z" fill="#151515"></path></svg></a></li>
      </ul>
    </div>
  </div>
  <div class="FooterRow" style="display: flex;justify-content: space-between;padding:25px; 35px;">
    <div class="FooterLeft" style="width: 50%;">
     <svg xmlns="http://www.w3.org/2000/svg" width="147" height="39" fill="none" viewBox="0 0 147 39"><path fill="#000" d="M.804 28.098c.82.41 3.034 1.476 6.724 1.435 4.838-.041 7.216-2.952 7.216-5.904 0-2.747-1.148-4.182-4.387-5.494l-3.198-1.353c-2.706-1.148-3.444-2.255-3.444-3.854 0-2.173 1.435-3.772 4.346-3.772 2.296 0 3.444 1.353 5.043 5.535h.164l.656-5.166c-.902-.328-3.075-.779-5.412-.779-5.166 0-7.544 2.501-7.544 5.699 0 2.214 1.312 4.059 4.428 5.412l3.034 1.271c2.46 1.066 3.485 1.968 3.485 3.854 0 2.624-1.804 4.223-4.223 4.141-3.034-.082-4.756-2.091-6.437-6.478h-.164l-.287 5.453zM27.984 38.553l-2.091-.697c-1.312-.451-2.091-.902-2.091-2.173v-7.38c1.025.533 3.157.82 4.838.82 4.797-.041 9.922-2.747 9.922-10.496 0-6.519-3.075-9.881-7.38-9.881-3.485 0-6.027 2.214-7.38 4.1-.041-1.435-.451-3.075-1.025-4.182l-6.191 2.624v.123l1.189.369c1.599.492 2.337 1.107 2.337 3.321v20.623c0 1.23-.41 1.64-1.6 2.132l-1.598.697v.164h11.07v-.164zm-4.182-25.584c1.435-1.23 3.32-2.009 5.166-2.009 3.403 0 5.617 2.214 5.617 8.282.04 6.232-1.722 9.348-6.068 9.348-1.886 0-3.608-.82-4.715-1.804V12.969zM60.283 25.228c-2.05 1.107-3.895 1.845-6.56 1.845-4.51 0-7.462-2.747-7.462-9.225l13.653.041c.082-.533.123-1.066.123-1.681 0-4.633-2.5-7.462-7.954-7.462-4.96 0-9.635 3.567-9.635 10.701 0 5.248 2.952 10.086 9.717 10.086 2.952 0 5.617-1.189 8.241-4.182l-.123-.123zM46.261 17.52c.205-4.715 1.886-8.405 5.822-8.405 3.198 0 4.223 2.173 4.223 6.355 0 .574-.04 1.025-.246 1.271-.164.246-.533.328-1.189.369l-8.61.41zM73.26 29v-.123l-1.64-.615c-1.436-.533-1.64-1.025-1.64-2.296V13.092c1.516-1.271 3.402-2.173 5.903-2.173 1.435 0 2.583.533 3.198 1.722.37.697.533 2.173.533 3.772v9.594c0 1.23-.369 1.722-1.517 2.214l-1.517.656V29h10.21v-.123l-1.64-.615c-1.354-.492-1.846-.902-1.846-2.173v-8.856c0-1.394 0-2.829-.164-3.977-.328-2.665-2.05-4.51-5.412-4.51-3.034 0-5.74 1.353-7.79 4.182 0-1.312-.41-3.157-.984-4.264l-6.232 2.624v.123l1.23.369c1.558.492 2.296 1.107 2.296 3.321v10.906c0 1.23-.287 1.64-1.558 2.132l-1.64.738V29h10.21zM99.405 29v-.123l-1.64-.615c-1.435-.533-1.64-1.025-1.64-2.296V13.092c1.517-1.271 3.403-2.173 5.904-2.173 1.435 0 2.583.533 3.198 1.722.369.697.533 2.173.533 3.772v9.594c0 1.23-.369 1.722-1.517 2.214l-1.517.656V29h10.209v-.123l-1.64-.615c-1.353-.492-1.845-.902-1.845-2.173v-8.856c0-1.394 0-2.829-.164-3.977-.328-2.665-2.05-4.51-5.412-4.51-3.034 0-5.74 1.353-7.79 4.182 0-1.312-.41-3.157-.984-4.264l-6.232 2.624v.123l1.23.369c1.558.492 2.296 1.107 2.296 3.321v10.906c0 1.23-.287 1.64-1.558 2.132l-1.64.738V29h10.209zM122.356 2.473c0-1.312-1.025-2.337-2.378-2.337-1.394 0-2.419 1.066-2.419 2.378 0 1.394.984 2.419 2.378 2.419 1.394 0 2.419-1.025 2.419-2.46zm3.157 26.404l-1.394-.574c-1.558-.574-1.968-1.025-1.968-2.378l-.041-10.824c0-2.296.041-4.674.082-6.396l-7.011 2.583v.123l1.312.41c1.23.369 1.886.779 1.886 2.829v11.316c0 1.312-.451 1.722-1.927 2.337l-1.271.574V29h10.332v-.123zM146.287 25.228c-2.05 1.107-3.895 1.845-6.56 1.845-4.51 0-7.462-2.747-7.462-9.225l13.653.041c.082-.533.123-1.066.123-1.681 0-4.633-2.501-7.462-7.954-7.462-4.961 0-9.635 3.567-9.635 10.701 0 5.248 2.952 10.086 9.717 10.086 2.952 0 5.617-1.189 8.241-4.182l-.123-.123zm-14.022-7.708c.205-4.715 1.886-8.405 5.822-8.405 3.198 0 4.223 2.173 4.223 6.355 0 .574-.041 1.025-.246 1.271-.164.246-.533.328-1.189.369l-8.61.41z"></path></svg>
    </div>
    <div class="FooterRight" style="width: 50%;text-align: end;">
      <div class="FooterCopyrights" id="">{{ section.settings.FooterCopyrightsText }}</div>
    </div>
  </div>
  
</footer>


{% schema %}
{
  "name": "Custom-footer",
  "blocks": [],
  "settings": [
    {
      "type": "text",
      "id": "FooterCopyrightsText",
      "label": "Footer Copyrights"
    },
    {
      "type": "text",
      "id": "label1",
      "label": "Label 1"
    },
    {
      "type": "text",
      "id": "label1_url",
      "label": "Label 1 Url"
    },
    {
      "type": "text",
      "id": "label2",
      "label": "Label 2"
    },
    {
      "type": "text",
      "id": "label2_url",
      "label": "Label 2 Url"
    }
    ,{
      "type": "text",
      "id": "label3",
      "label": "Label 3"
    },
    {
      "type": "text",
      "id": "label3_url",
      "label": "Label 3 Url"
    },
    {
      "type": "text",
      "id": "label4",
      "label": "Label 4"
    },
    {
      "type": "text",
      "id": "label4_url",
      "label": "Label 4 Url"
    },
    {
      "type": "text",
      "id": "label5",
      "label": "Label 5"
    },
    {
      "type": "text",
      "id": "label5_url",
      "label": "Label 5 Url"
    },
    {
      "type": "text",
      "id": "Tiktok_url",
      "label": "Tiktok Url"
    },
    {
      "type": "text",
      "id": "face_url",
      "label": "Facebook  Url"
    },
    {
      "type": "text",
      "id": "Twitter_url",
      "label": "Twitter Url"
    },
    {
      "type": "text",
      "id": "Insta_url",
      "label": "Insta Url"
    }
  ],
  "presets": [
    {
      "name": "Custom-footer",
      "category": "Text"
    }
  ]
}
{% endschema %}
