<style>


  .loader-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }

  .loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid Black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    display:block !important;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
::-webkit-scrollbar-track {
  background-color: #eee; /* Color of the scrollbar track */
}
  .faq_FaqSection__bqQRl {
    background-color: #fff;
    padding: 50px 0;
  }
  .faq_FaqContainer__MxBv4 {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 880px;
    padding: 0 40px;
    width: 100%;
  }
  .faq_FaqSubtitle__AbjTP {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .07em;
    line-height: 24px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
  }
  .faq_FaqTitle__Ur0CQ {
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 40px;
    margin-bottom: 50px;
    text-align: center;
  }
  .faq_FaqBodyContent__9inQ2 h4 {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
  .faq_FaqBodyContent__9inQ2 p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 20px;
    margin-bottom: 40px;
 }
 .welcomeBanner_WelcomeBannerBox__2qL8T {
    background: #f7f7f7;
    max-width: 562px;
    padding: 50px 90px;
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
  .welcome_WelcomeSection__pw5q7 {
    background: #f6f1eb;
    padding: 60px 0;
  }
  .welcome_WelcomeContainer__D8FI3 {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  .welcome_WelcomeRow__ZtePW {
    align-items: center;
    display: flex;
  }
  .welcome_WelcomeCol__WtJuC {
    width: 50%;
  }
  .welcome_WelcomeSubtitle__BG\+GF {
    color: #000;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 24px;
   }
    .welcome_WelcomeWrapperRight__5Bj7A {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .welcome_BtnViewRegistry__JLDAu {
      border: 1px solid #000;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 140%;
      max-width: 380px;
      padding: 22px 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
  }
  .welcome_BtnViewRegistry__JLDAu:hover{
    color:black !important;
    text-decoration:none !important;
  }
  .welcome_WelcomeTitle__5fZ-k {
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 41px;
    margin-bottom: 20px;
  }
  .welcome_BtnViewRegistry__JLDAu:hover {
    background: hsla(34, 53%, 87%, .3);
    border: 1px solid #000;
    color: #000;
  }
   @media screen and (max-width: 768px) {
    .welcomeBanner_WelcomeBannerBox__2qL8T {
      left: 20px;
      padding: 40px 30px;
      right: 20px;
      width: calc(100% - 40px);
    }
   }

</style>
<div class="container-fluid">
 
     <section class="welcome_WelcomeSection__pw5q7">
        <div class="welcome_WelcomeContainer__D8FI3">
            <div class="welcome_WelcomeRow__ZtePW">
                <div class="welcome_WelcomeCol__WtJuC">
                    <div>
                        <div class="welcome_WelcomeTitle__5fZ-k">Welcome&nbsp;Testing acc&nbsp; and&nbsp;Tester</div>
                        <div class="welcome_WelcomeSubtitle__BG+GF">Your personalized registry page. See what's been
                            purchased and browse to add products to your registrys.</div>
                    </div>
                </div>
                <div class="welcome_WelcomeCol__WtJuC">
                    <div class="welcome_WelcomeWrapperRight__5Bj7A"><a class="welcome_BtnViewRegistry__JLDAu"
                            href="pages/preview-registery"><span class="welcome_Status__qT0x1 dot"></span> Edit Registry Settings </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcomeBanner_WelcomeBannerSection__vn3dM" style="height: 560px; overflow: hidden;position: relative;">

      <div class="welcomeBanner_WelcomeBanner__xZJaK"><img src="https://cdn.shopify.com/s/files/1/0662/4061/0549/files/dashboard-bg.jpg?v=1719400094" style="width: 100%;"/>
          <div class="welcomeBanner_WelcomeBannerBox__2qL8T" style="">
              <div class="welcomeBanner_WelcomeTextWrapper__KuQrp" style="margin: 0 auto;
                                                                          max-width: 251px;
                                                                          width: 100%;">
                  <div class="welcomeBanner_WelcomeBannerTitle__8YrcJ" style="color: #000;
                                                                              font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
                                                                              font-size: 33px;
                                                                              font-weight: 700;
                                                                              line-height: 41px;
                                                                              margin-bottom: 24px;
                                                                              text-align: center;">{{ section.settings.WelcomeBannerTitle }}</div>
                  <div class="welcomeBanner_WelcomeBannerDesc__KKEQS" style="color: #000;
                                                                              font-size: 17px;
                                                                              font-weight: 400;
                                                                              letter-spacing: .01em;
                                                                              line-height: 20px;
                                                                              margin-bottom: 30px;
                                                                              text-align: center;">{{ section.settings.WelcomeBannerDesc }}</div>
              </div><a class="welcomeBanner_BtnAddProducts__xCUG6" style="align-items: center;
                                                                          background: #fff;
                                                                          border: 1px solid #000;
                                                                          color: #000;
                                                                          display: inline-flex;
                                                                          font-size: 14px;
                                                                          font-weight: 500;
                                                                          justify-content: center;
                                                                          letter-spacing: 1px;
                                                                          line-height: 140%;
                                                                          padding: 22px 15px;
                                                                          text-align: center;
                                                                          text-decoration: none;
                                                                          text-transform: uppercase;
                                                                          width: 100%;" href="/collections/all">Add Products</a>
          </div>
      </div>
  </section>
    <section class="faq_FaqSection__bqQRl">
      <div class="faq_FaqContainer__MxBv4">
        <div class="faq_FaqHeader__a5QsV">
            <div class="faq_FaqSubtitle__AbjTP">{{ section.settings.faq_FaqSubtitle }}</div>
            <div class="faq_FaqTitle__Ur0CQ">{{ section.settings.faq_FaqTitle }}</div>
        </div>
        <div class="faq_FaqBodyContent__9inQ2">
            <h4>{{ section.settings.question1 }}</h4>
            <p>{{ section.settings.ans1 }}
            </p>
            <h4>What should I list as my shipping address?</h4>
            <p>Some people do their own address (which we definitely recommend) so you can start using your gifts right
                away. We understand that many couples are moving around the time of their wedding (we get it, a lot of
                life changes at once)! If that's the case, we might recommend shipping to your parent's house or a
                friend's especially if packing and space are an issue.</p>
            <h4>Is it bad if everything I like is really expensive? Help!</h4>
            <p>Congrats! You have really nice taste! Try to register for a wide variety of gifts in every sense - things
                for the kitchen, for the house, for the bedroom etc. With that - try and diversify the dollar amount.
                You want big ticket items (think luxurious bedding, new dinnerware sets, etc) and smaller items like
                mixing bowls and fun barware. You want to give your guests options to choose things they're comfortable
                with.</p>
        </div>
    </div>
   </section>
  </div>
 
{% javascript %}

 $(document).ready(function () {
  alert('ff1sds111');

   
   
  
});

{% endjavascript %}


{% schema %}
   {
  "name": "dashboards",
  "settings": [
        {
          "type": "text",
          "id": "faq_FaqSubtitle",
          "label": "faq FaqSubtitle"
        },
        {
          "type": "text",
          "id": "faq_FaqTitle",
          "label": "faq FaqTitle"
        },
        {
          "type": "text",
          "id": "question1",
          "label": "Question 1"
        },
        {
          "type": "text",
          "id": "ans1",
          "label": "Answer 1"
        }
  ],
    "blocks": [
    
  ],
    "presets": [
    {
      "name": "dashboards",
      "category": "Text"
    }
  ]
}
{% endschema %}



